body {
    padding: 0px;
    margin: auto;
    display: flexbox;
    height: 100vh;
}

/* Main Title */
#title-section {
    box-shadow: 3px 3px 8px gray;
}

#difficulty-container {
    margin: 25% auto;
    box-shadow: 3px 3px 8px gray;
}


/* Game Page: User input Section */
#input-section {
    min-height: 400px;
    margin: 25% auto;
    box-shadow: 3px 3px 8px gray;
}

/* Results Section */
#results-section {
    min-height: 80vh;
    box-shadow: 3px 3px 8px gray;
}