body {
    padding: 0px;
    margin: auto;
    display: flexbox;
    max-width: 1024px;
    height: 100vh;
}

/* Main Title */
#title-section {
    box-shadow: 3px 3px 8px gray;
}

#difficulty-container {
    margin: 25% 0px;
    box-shadow: 3px 3px 8px gray;
}